// bower:scss
@import 'bower_components/normalize-scss/normalize';
// endbower

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/benz.jpg') no-repeat left bottom;
  background-size: cover;
  font-family: 'open sans', sans-serif;
}

header {
  background: rgba(20, 20, 20, 0.7);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  max-width: 20em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
}

h1 {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: normal;
  margin: 0;
}

a,
a:visited {
  color: rgb(207, 45, 74);
}

#btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  line-height: 2;
  padding: 0 1em;
  letter-spacing: 2px;
  width: 100%;
}

#door {
  height: 100%;
  width: 100%;
  background: url('../images/garage.gif') no-repeat center top;
  background-size: cover;
}
