// Gray Colors
$color-black: #222;
$color-white: #fff;
$color-gray: #ccc;

// Misc Colors
$color-selection: #b3d4fc;

// Boilerplate
$font-size: 1em;
$line-height: 1.4;

// Spacing
$unit: 1em;
$unit-s: $unit/2;
$unit-xs: $unit/4;
$unit-l: $unit*2;
$unit-xl: $unit*4;
